// 全局重置
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  transition: background-color 0.3s ease;
}

body {
  font-family: avertastd;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-background-level-1);
  color: var(--color-text-level-1);
}

#app {
  width: 100%;
  min-height: 100vh;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: 4px;

  &:hover {
    background-color: var(--color-scrollbar-thumb-hover);
  }
}

// 链接样式
a {
  color: var(--color-theme-level-1);
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-button-primary-hover);
  }
}

// 输入框样式
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

// 主按钮色
.btn-primary {
  color:var(--color-text-level-4);
  font-weight: 800;
  background-image: linear-gradient(90deg, #24ee89, #9fe871);
  box-shadow: 0 0 12px #23ee884d, 0 -2px #1dca6a inset;
}


