@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: avertastd;
    background-color: var(--color-background-level-1);
    color: var(--color-text-level-1);
  }

  #app {
    width: 100%;
    min-height: 100vh;
  }
}